*{
    margin: 0;
    padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family:'Trebuchet MS'; 
color: white;
background-color:black;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
}

.row{
  margin: 10px 0px;
}
.row input{
  width: 291px;
  font-size: 20px;
  font-weight: 900;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.row :hover{
    color: white;
    background-color: grey;
}
.row :active{
    color: black;
    background-color: orange;
}